body{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    background: #f5f5f5;
}

nav{
    background: #222;
    padding: 15px;
    text-align: center;
}
nav a{
    color:white;
    margin:0 15px;
    text-decoration: none;
    font-weight: bold;
}
.hero{
    padding: 60px;
    background: #0009ff;
    color: white;
    text-align: center;

}

.container{
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}
footer{
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #222;
    color: white;
}